<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel = "icon" href = "../static/img/logo.png"/>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">

      <img id="logo" src="../static/img/logo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
      <a style="color: white !important; " class="navbar-brand" href="#">Gustavo Messa</a>

    
      <button  class="navbar-toggler" style="color: white; border: none; box-shadow: 0 0 0 0;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span s class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="background-color:black">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="projetos.html">Projetos</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="contato.html">Contato</a>
          </li>
  
        </ul>
      </div>
    </nav>

  <content id="fundo_pag">
  <div style="  padding-bottom: 10px; text-align: center; ">
    <h2>Contato</h2>

    
      <img  id="gmail" src="../static/img/gmail.png" alt="gmail" style="width:110px;  ">

      <h4>gustavommessa@gmail.com </h4>

      <img  id="link" src="../static/img/link.png" alt="link" style="width:115px;  "><br>
      
      <div id="bt_link">
        <a id="bt_site" style="border: none; box-shadow: 0 0 0 0; " class="btn btn-primary" href="https://br.linkedin.com/in/gustavo-messa" target="_blank">Linkdeen</a>
      </div><br>

      <img  id="git" src="../static/img/git1.png" alt="github" style="width:110px;  "><br><br>
      
      <div id="bt_git">
        <a id="bt_site" style="border: none; box-shadow: 0 0 0 0; " class="btn btn-primary" href="https://github.com/gmessa" target="_blank">GitHub</a>
      </div>
      

  </content>
  <div class="f_cab">
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">Copyright © 2022 - Criado por Gustavo Messa
      </div>
    </footer>
  </div>

</body>

</html>