<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Mim</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel = "icon" href = "../static/img/l"/>
  <link rel = "icon" href = "../static/img/logo.png"/>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; ">
      
      <img id="logo" src="../static/img/logo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
      <a style="color: white !important; " class="navbar-brand" href="#">Gustavo Messa</a>

    
      <button  class="navbar-toggler" style=" float: right; border: none; box-shadow: 0 0 0 0;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="background-color:black;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="menu" class="navbar-brand" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a id="menu" class="navbar-brand" href="projetos.html">Projetos</a>
          </li>

          <li class="nav-item">
            <a id="menu" class="navbar-brand" href="contato.html">Contato</a>
          </li>
  
        </ul>
      </div>
    </nav>


  <content id="fundo_pag">

  <div style=" text-align: center; padding-bottom: 10px;">
      <img id="foto_perfil" src="../static/img/f_perfil.jpg" alt="Avatar perfil" style="width:300px;">
  </div>
  
  <div style="text-align:center;">
    <h3>Sobre</h3>
    <p>
      Meu nome é Gustavo Messa tenho 27 anos já tive experiência como professor de segurança cibernética com aulas
      realizadas de forma remota.
      Conhecimento em práticas de segurança na utilização da Internet e dispositivos computacionais.
      Domínio em Windows 8.1, 10, Pacote Office, edição de vídeo e imagem e desenvolvimento de sites.
    </p>

    <h3>Formação Académica</h3>

      <h5>Desenvolvimento de Software Multiplataforma</h5>
    <dd>Faculdade de Tecnologia de São José dos Campos
    <dd>
    <dd>fev./2022 (cursando)
    <dd>

      <h5>CCNA: Introduction to Networks</h5>
    <dd>Cisco
    </dd>
    <dd>dez./2020 (concluído)
    </dd>

      <h5>Técnico em Informática</h5>
    <dd>Escola Técnica Estadual de Mauá - ETEC MAUÁ
    </dd>
    <dd>fev./2018 (concluído)
    </dd>

      <h5>Tecnologia em Informática para Negócios </h5>
    <dd>Faculdade de Tecnologia de Mauá - FATEC MAUÁ
    </dd>
    <dd>fev./2013 a dez./2016 (concluído)
    </dd>

      <h3>Experiência</h3>

      <h5>Professor de Noções de Cibersegurança (remoto)</h5>
    <dd>NOVOTEC - Temporário</dd>
    <dd>abr.. de 2021 – out. de 2021</dd>
    <dd>Duração: 5 meses</dd>
    <dd>Localidade: Mauá, São Paulo, Brasil</dd>

    <h5>Professor de Noções de Cibersegurança (remoto)</h5>
    <dd>NOVOTEC - Temporário</dd>
    <dd>out. de 2020 – dez. de 2020</dd>
    <dd>Duração: 3 meses</dd>
    <dd>Localidade: Mauá, São Paulo, Brasil</dd>
  </div>
  </content>


  
  <div class="f_cab">
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">Copyright © 2022 - Criado por Gustavo Messa
      </div>
    </footer>
  </div>

</body>

</html>