<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projetos</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel = "icon" href = "../static/img/logo.png"/>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">

      <img id="logo" src="../static/img/logo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
      <a style="color: white !important; " class="navbar-brand-letra" href="#">Gustavo Messa</a>

      <button  class="navbar-toggler" style="color: white; border: none; box-shadow: 0 0 0 0;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span s class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="background-color:black">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="projetos.html">Projetos</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="contato.html">Contato</a>
          </li>
  
        </ul>
      </div>
    </nav>
    

  <content id="fundo_pag" style="text-align: center; ">


    <h3>Projetos</h3>

    <h5>API - Sistema de Serviços de Tecnologia da Informação (em desenvolvimento)</h5>

    <li>
      Projeto proposto como sistema de avaliação para conclusão do 1°semestre de
      Desenvolvimento de Software Multiplataforma, curso da FATEC São José dos Campos -
      Prof. Jessen Vidal.
    </li>
    <br>
    <h5>Cliente</h5>
    <li>Interno (FATEC) - Representante: Prof° Fabrício Galende Marques de Carvalho.</li>
    <br>
    <div id="bt_git">
      <a id="bt_site" style="border: none; box-shadow: 0 0 0 0; " class="btn btn-primary" href="https://github.com/impulseteam/projeto-integrador-2022-1---FATEC-DSM" target="_blank">Acesar no GitHub</a>
    </div>
  </content>

  <div class="f_cab">
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">Copyright © 2022 - Criado por Gustavo Messa
      </div>
    </footer>
  </div>

</body>

</html>