<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Mim</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">

      <img id="logo" src="../static/img/logo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
      <a class="navbar-brand" href="#">Gustavo Messa</a>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="projetos.html">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="contato.html">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <content id="fundo_pag">
    <h2>Contato</h2><br>

    <input class="form-control " type="text" id="c_nome" placeholder="Nome"><br>
    <input class="form-control" type="text" id="c_email" placeholder="E-mail"><br>
    <input class="form-control" type="text" id="c_ass" placeholder="Assunto"><br>
    <textarea class="form-control rounded-0" id="c_msg" rows="10" placeholder="Menssagem"></textarea>
    <br>
    <div id="bt_contato">
      <a class="btn btn-primary" href="#" role="button">Enviar</a>
    </div>

  </content>
  <div class="f_cab">
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© Site em desenvolvimento
      </div>
    </footer>
  </div>

</body>

</html>